body {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.row {
	display: flex;
	gap: 6px;
}
.row > * {
	flex-grow: 1;
}
#selector {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
}
#selector > *:not(:last-child) {
	border-bottom: 1px solid black;
}
.selectable:hover {
	cursor: pointer;
	background-color: lightgray;
}
